body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #FF9900;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;

}

.nav-link {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin: 20px;
}

.part1{
 margin: 40px 25px 40px 25px;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #003B78;
    padding: 10px;
    font-weight: bold;
}

p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #0067D3;
}

.info img{
   display: block;
   margin: 0 auto;
}

.part_2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.part2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9900;
    padding: 40px;
}

div {
   color: #003B78;
}

div ul{
    font-size: 20px;
}

.part_3{
    text-align: center;
    color: #0067D3;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
}

footer {
   background-color: #003B78;
   display: flex;
   justify-content: center;
   padding: 30px;
}

footer p {
    color: white;
    font-size: 15px;
    font-weight: normal;
}

.facts p{
    background-color: #0067D3;
    border-radius: 10px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    font-weight: normal;
    font-size: 20px;
}

.principles{
    margin: 30px 40px 30px 40px;
}

.principles h2{
    text-align: center;
    font-size: 30px;
    color: #003B78;
    font-weight: bold;
}

.principles p{
   color:  #003B78;
    font-weight: normal;
    font-size: 20px;
}

.principles img{
    width: 400px;
    display: block;
    margin: 0 auto;
}

